// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$azure : #7823e6;

//margin
.MT5 {
    margin-top: 5px;
}

.MT8 {
    margin-top: 8px;
}

.MT24 {
    margin-top: 24px;
}

.MT16 {
    margin-top: 16px;
}

.MT30 {
    margin-top: 30px;
}

.MT32 {
    margin-top: 32px;
}

.MT40 {
    margin-top: 40px;
}

.MT62 {
    margin-top: 62px;
}

.ML4 {
    margin-left: 4px;
}

.ML8 {
    margin-left: 8px;
}

.ML11 {
    margin-left: 11px;
}

.ML16 {
    margin-left: 16px;
}

.ML34 {
    margin-left: 34px;
}

.PT48 {
    padding-top: 48px;
}

.PT85 {
    padding-top: 85px;
}

.PB165 {
    padding-bottom: 165px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

button {
    outline:none;
}

.hInput {
    width: 100%;
    border-radius: 5px;
    border: solid 1px #d8d8d8;
    &:focus {
        outline:none;
        border:solid 1px $azure;
    }
}

textarea {
    width: 100%;
    border-radius: 5px;
    border: solid 1px #d8d8d8;
    resize: none;
}

textarea:focus {
    outline:none;
    border:solid 1px $azure;
}

.fontAzure {
    color: $azure;
}

.fontBold {
    font-weight: bold;
}