// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$azure : #7823e6;

a {
    text-decoration: none;
    color: black;
}

button {
    outline:none;
}

input:focus {
    outline:none;
}

.fontAzure {
    color: $azure;
}

.fontBold {
    font-weight: bold;
}